{{ template "base" .}} {{define "content"}}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>About page</h1>
            <p>Parrafo</p>

            <p>Esto llego al template {{index .StringMap "test"}}</p>

            <p>
                {{ if ne (index .StringMap "remote_ip") ""}} Tu ip remota es {{index .StringMap "remote_ip"}} {{else}} No puedes saber tu direccion IP. Visita <a href="/">Home page</a> {{end}}
            </p>
        </div>
    </div>
</div>

{{end}}